    {{> header }}


    {{!-- slidershow --}}
    <div id="canvas">
            <div class="arrow" ><img id="left" src="./images/left-arrow.png" class="image"></div>
            <div class="arrow" ><img id="right" src="./images/right-arrow.png" class="image"></div>
    </div>

    <div class="container">
        <section class="section-center">
        <!-- image -->
            <article class="gift-img">
                <img id="img-save" src="./images/save.png" alt="gift" />
            </article>
            <!-- info -->
            <article class="gift-info">
                <h3>Giveaway Covid</h3>
                <h4>
                    Giveaway on Sunday, 30 september 2021, 23:59PM
                </h4>
                <p id="paragraph">
                     #Win one of FOUR gift certificates to 9thandElm.com, a site devoted to handmade fashion items from amazing designers! $200 for one winner, $100 each to two winners! #giveaway via @simplystacienet ENDS…
                </p>
                <div class="deadline">
            
                <div class="deadline-format">
                    <div>
                    <h4 class="days" class="giveaway">20</h4>
                    <span>days</span>
                    </div>
                </div>
               
                <div class="deadline-format">
                    <div>
                    <h4 class="hours" class="giveaway">50</h4>
                    <span>hours</span>
                    </div>
                </div>
                
                <div class="deadline-format">
                    <div>
                    <h4 class="minutes" class="giveaway">30</h4>
                    <span>mins</span>
                    </div>
                </div>
               
                <div class="deadline-format">
                    <div>
                    <h4 class="seconds">20</h4>
                    <span>secs</span>
                    </div>
                </div>
              
                </div>
            </article>
        </section>
       
    </div>

    {{!-- about  --}}
    <div class="container">
        <section class="section">
            <div class="title">
                <h2>About A&T</h2>
                <p>
                    You are my everything
                </p>
            </div>

            <div class="about-center section-center">
                <article class="about-img">
                <img src="./images/about/logo.png" alt="" />
                </article>
                <article class="about">
                <!-- btn container -->
                <div class="btn-container">
                    <button class="tab-btn active" data-id="history">history</button>
                    <button class="tab-btn" data-id="vision">vision</button>
                    <button class="tab-btn" data-id="goals">goals</button>
                </div>
                <div class="about-content">
                    <!-- single item -->
                    <div class="content active" id="history">
                    <h4>history</h4>
                    <p>
                        I'm baby wolf pickled schlitz try-hard normcore marfa man bun
                        mumblecore vice pop-up XOXO lomo kombucha glossier bicycle
                        rights. Umami kinfolk salvia jean shorts offal venmo. Knausgaard
                        tilde try-hard, woke fixie banjo man bun. Small batch tumeric
                        mustache tbh wayfarers 8-bit shaman chartreuse tacos. Viral
                        direct trade hoodie ugh chambray, craft beer pork belly flannel
                        tacos single-origin coffee art party migas plaid pop-up.
                    </p>
                    </div>
                    <!-- end of single item -->
                    <!-- single item -->
                    <div class="content" id="vision">
                    <h4>vision</h4>
                    <p>
                        Man bun PBR&B keytar copper mug prism, hell of helvetica. Synth
                        crucifix offal deep v hella biodiesel. Church-key listicle
                        polaroid put a bird on it chillwave palo santo enamel pin,
                        tattooed meggings franzen la croix cray. Retro yr aesthetic four
                        loko tbh helvetica air plant, neutra palo santo tofu mumblecore.
                        Hoodie bushwick pour-over jean shorts chartreuse shabby chic.
                        Roof party hammock master cleanse pop-up truffaut, bicycle
                        rights skateboard affogato readymade sustainable deep v
                        live-edge schlitz narwhal.
                    </p>
                    
                    </div>
                    <!-- end of single item -->
                    <!-- single item -->
                    <div class="content" id="goals">
                    <h4>goals</h4>
                    <p>
                        Chambray authentic truffaut, kickstarter brunch taxidermy vape
                        heirloom four dollar toast raclette shoreditch church-key.
                        Poutine etsy tote bag, cred fingerstache leggings cornhole
                        everyday carry blog gastropub. Brunch biodiesel sartorial mlkshk
                        swag, mixtape hashtag marfa readymade direct trade man braid
                        cold-pressed roof party. Small batch adaptogen coloring book
                        heirloom. Letterpress food truck hammock literally hell of wolf
                        beard adaptogen everyday carry. Dreamcatcher pitchfork yuccie,
                        banh mi salvia venmo photo booth quinoa chicharrones.
                    </p>
                    </div>
                    <!-- end of single item -->
                </div>
                </article>
            </div>
        </section>
    </div>

  
    {{> footer}}
  

