  <!-- single product details -->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img id="ProductImg" src="images/detail/AnyConv.com__1.png" width="100%">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="images/detail/AnyConv.com__1.png" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/detail/AnyConv.com__2.png" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/detail/AnyConv.com__3.png" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/detail/AnyConv.com__4.png" width="100%" class="small-img">
                    </div>
                </div>


            </div>
            <div class="col-2">
                <p>Home / Áo khoát</p>
                <h1>Áo khoác nam nữ thể thao</h1>
                <h4>₫49.000</h4>
                <h3>Chi tiết sản phẩm</h3>
                <p>
                    Áo khoác nam nữ thể thao ulzzang 3 sọc màu be🌸
                    Áo sweater hoodie nỉ bông kiểu dáng thể thao form rộng unisex trơn basic
                </p>
                <!-- <input type="radio" class="input-radio" name="color" value="">
                
                <input type="radio" class="input-radio" name="color" value="">
                <input type="radio" class="input-radio" name="color" value=""> -->
                <div class="color-container">
                    <h3 class="title">Color</h3>
                    <div class="colors">
                       
                        <span class="color active" color="blue" primary="#2175f5"> <input type="radio" name="radio" id="radio-color" checked></span>
                        <span class="color active" color="red" primary="#f84848"> <input type="radio" name="radio" id="radio-color"></span>
                        <span class="color active" color="green" primary="#29b864"> <input type="radio" name="radio" id="radio-color"></span>
                        <span class="color active" color="orange" primary="#ff5521"> <input type="radio" name="radio" id="radio-color"></span>
                        <span class="color active" color="black" primary="#444"> <input type="radio" name="radio" id="radio-color"></span>
                    </div>
                </div>

                <div class="size-container">
                    <h3 class="title">Size</h3>
                    <div class="sizes">
                        <span class="size active">M<input type="radio" name="size" id="size-radio" value="M" checked></span>
                        <span class="size">L<input type="radio" name="size" id="size-radio" value="L"></span>
                        <span class="size">S<input type="radio" name="size" id="size-radio" value="S"></span>
                        <span class="size">X<input type="radio" name="size" id="size-radio" value="X"></span>
                        <span class="size">XL<input type="radio" name="size" id="size-radio" value="XL"></span>
                    </div>
                </div>
                <h3 class="title">Số lượng</h3>
                <input type="number" class="input-number" value="1">
                <input type="submit" value="Add To Cart" class="btn">
                <input type="submit" value="Buy now"  class="btn">
            </div>
        </div>
    </div>
