<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products-Details</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo-white.png" />
</head>
<body>
 
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="logo" with="110px" height="40px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>
            <img src="images/cart.png" with="30px" height="30px">
            <img src="images/menu.png" class="menu-icon" 
                onclick="menutoggle()">
        </div>
    </div>

    <!-- ---- single product details ---- -->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img id="ProductImg" src="images/gallery-1.jpg" width="100%">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="images/gallery-1.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/gallery-2.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/gallery-3.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/gallery-4.jpg" width="100%" class="small-img">
                    </div>
                </div>


            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>Red Printd T-Shirt by HRX</h1>
                <h4>$50.00</h4>
                <select name="" id="">
                    <option value=""> Select Size</option>
                    <option value=""> XXL</option>
                    <option value=""> XL</option>
                    <option value=""> Large</option>
                    <option value=""> Medium</option>
                    <option value=""> Small</option>
                </select>
                <input type="number" name="" id="" value="1">
                <a href="" class="btn">Add To Cart</a>

                <h3>Products Details  <i class="fa fa-indent"></i></h3>
                <p>
                    Give your summer wardrobe a style
                    upgrade with the HRX Men's Active T-shirt. 
                    Team it with a pair of shorts for your morning
                    workout or a denims for an evening out with the guys.
                </p>
            </div>
        </div>
    </div>

    <!-----titles----->
        <div class="small-container">
            <div class="row row-2">
                <h2>Related Projects</h2>
                <p>View more</p>
            </div>
        </div>


    <!-----product----->

    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="images/product-9.jpg">
                <h4 >Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="images/product-10.jpg">
                <h4 >Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="images/product-11.jpg">
                <h4 >Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="images/product-12.jpg">
                <h4 >Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
   
    </div>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>