table{
    border:1px solid black;
    background-color:#C0C0C0;
    background-image: linear-gradient(#FFCCCC, #FFCCFF);
    border-spacing: 20px;
}

div {
    text-align: center;
}

h1{
    color: red;
}

