* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

p {
  color: #555; }

.containerAccount {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

.rowAccount {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* cho phep nam tren cung mot hang du cho containerAccount thay doi*/
  justify-content: space-around; }

.columsAccount {
  flex-basis: 50%;
  /* danh ra 50% khung hinh cho anh nen */
  min-width: 300px; }

.columsAccount img {
  max-width: 100%;
  /* padding: 50px 0; */ }

.columsAccount h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0; }

.btnAccount {
  display: inline-block;
  background: #1877f2;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 20px;
  transition: background 0.5s; }

.btnAccount:hover {
  background: #4267b2; }

/* ---account-page--- */
.effect {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover; }

.effect img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.effect h2 {
  position: relative; }

.account-page {
  padding: 50px 0;
  /* background: radial-gradient(#fff, #ffd6d6); */ }

.form-containerAccount {
  background: #fff;
  width: 500px;
  height: 630px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.form-containerAccount span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
  font-size: 25px; }

.formbtn {
  display: inline-block; }

.form-containerAccount form {
  max-width: 500px;
  padding: 0 20px;
  position: absolute;
  top: 110px;
  transition: transform 1s; }

.form-containerAccount #RegisterForm {
  top: 80px; }

form .input-form {
  width: 100%;
  height: 40px;
  line-height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc; }

.gender {
  margin-right: 15px;
  font-size: 25px; }

form .btnAccount {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 15px 0; }

form .btnAccount:focus {
  outline: none; }

#LoginForm {
  left: -500px; }

#RegisterForm {
  left: 0px; }

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s; }
