  <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="images/logo.png" alt="logo" with="110px" height="40px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Account</a></li>
                    </ul>
                </nav>
                <img src="images/cart.png" with="30px" height="30px">
                <img src="images/menu.png" class="menu-icon" 
                  onclick="menutoggle()">
            </div>
    </div>